{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<h1 class="text-center p-5">{{ title }}</h1>
<div class="row">
    <div class="col">
        <div class="card" id="vacancy">
            <img src="{{ asset('build/no-image.png') }}" class="card-img-top align-self-center" alt="">
            <div class="card-body">
                <h5 class="card-title">{{ vacancy.title }}</h5>
                <p class="card-text">{{ vacancy.description|striptags  }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
