<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <h1>{{ title }}</h1>
        {% for vacancy in vacancies %}
            <p>* {{ vacancy.title }}</p>
        {% else %}
            No vacancies have been found.
        {% endfor %}
    </body>
</html>
